{% extends 'base_two.html' %}
{% load utags %}
{% block body %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/userInfo/">· 个人信息</a></li>
				<li><a href="/user/userOrder" class="active">· 全部订单</a></li>
				<li><a href="/user/userSite">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>

				{% for i in allLst %}

				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{i.0.odate}}</li>
					<li class="col02" >订单号：{{i.0.oid|ned:7}}</li>
					<li class="col02 stress">
						{% if i.0.oIsPay %}
						支付
						{% else %}
						未支付
						{% endif %}
					</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>

							<td width="55%">
							{% for ij in i.1 %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ij.goods.gpic}}"></li>
									<li class="col02">{{ij.goods.gtitle|ned:7}}<em>{{ij.gprice}}元/{{ij.goods.gunit}}g</em></li>	
									<li class="col03">{{ij.count}}</li>
									<li class="col04">{{ij.price}}元</li>	
								</ul>
							{% endfor %}
							</td>
							<td width="15%">{{i.0.ototal}}元</td>

							<td width="15%">			
							{% if i.0.oIsPay %}
							已付款
							{% else %}
							代付款
							{% endif %}
							</td>

							{% if i.0.oIsPay %}
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
							{% else %}
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
							{% endif %}
							
						</tr>
					</tbody>
				</table>

				{% endfor %}

				
				


				<div class="pagenation">
					<a href="/user/userOrder/{{iid|add:-1}}"><上一页</a>
					{% for i in rrange %}
					{% if i == iid %}
					{
					<a href="/user/userOrder/{{i}}" class="active">{{i}}</a>
					}
					{% else %}
					<a href="/user/userOrder/{{i}}">{{i}}</a>
					{% endif %}
					{% if forloop.last %}
						{% if i == iid %}
						<a href="/user/userOrder/{{iid}}">下一页></a>
						{% else %}
						<a href="/user/userOrder/{{iid|add:1}}">下一页></a>
						{% endif %}
					{% endif %}
					{% endfor %}
				</div>
		</div>
	</div>



{% endblock %}