{% extends 'base_two.html' %}


    {% block rel_style %}
	<script src='/static/js/jquery-1.12.4.min.js'></script>
	<script src='/static/js/csrf.js'></script>
	<script src='/static/js/cart.js'></script>
	{% load filter %}
    {% endblock %}

{% block body %}
	<form action="/order/" method="GET">
	{% csrf_token %}
	<div class="total_count">全部商品<em>2</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	{% for i in lt %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox"  name="sid" value="{{i.id}}" checked></li>
		<li class="col02"><img src="/static/{{i.goodinfo.gpic}}"></li>
		<li class="col03">奇异果<br><em>{{i.goodinfo.gprice}}元/{{i.goodinfo.gunit}}</em></li>
		<li class="col04">{{i.goodinfo.gunit}}</li>
		<li class="col05">{{i.goodinfo.gprice}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{i.goodCount}}">	
				<a href="javascript:;" class="minus fl" spid='{{i.id}}'>-</a>	
			</div>
			
		</li>
		<li class="col07">{{i.goodinfo.gprice|ride:i.goodCount }}元<span style="color: red;float:left;">剩余{{i.goodinfo.gkucun}}</span></li>
		<li class="col08"><a href="javascript:;" spid='{{i.id}}' class="delshopcart">删除</a></li>
	</ul>

	{% endfor %}
	

	<ul class="settlements">
		<li class="col01"><input type="checkbox"  checked="" id='allcheck'></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id='allco'>0</em><br>共计<b id='allc'>0</b>件商品</li>
		<li class="col04"><input type="submit" value="去结算"></input></li>
	</ul>
</form>

{% endblock %}